In [16]:
import math
import statistics

# **Question 1**

In [ ]:
def count_char(s):
  character={}
  for c in s:
    if c not in character:
      character[c]=1
    else:
      character[c]+=1
  return(character)

string=input("enter a string : ")
cnt_c=count_char(string)
print(str(cnt_c))

enter a string : hai hello
{'h': 2, 'a': 1, 'i': 1, ' ': 1, 'e': 1, 'l': 2, 'o': 1}

# **Question 2**

In [ ]:
def maximum(a,b,c):
  if a>b and a>c:
    return(a)
  elif b>a and b>c:
    return(b)
  else:
    return(c)
x=int(input("enter first number : "))
y=int(input("enter second number : "))
z=int(input("enter third number : "))
g=maximum(x,y,z)
print("The greatest of the given numbers is ",g)

enter first number : 56
enter second number : 23
enter third number : 98
The greatest of the given numbers is  98

# **Question 3**

In [ ]:
def exponent(base,exp):
  val=int(base**exp)
  return(val)
b=int(input("enter base value : "))
e=int(input("enter exponent : "))
print("value is : ",exponent(b,e))

enter base value : 4
enter exponent : 2
value is :  16

# **Question 4**

In [9]:

def sum_cube(a):
  c=0
  for i in range(1,a):
    val=i**3
    c=val+c
  return(c)
x=int(input("enter a positive integer : "))
print("sum of cubes of numbers within the given limit is ",sum_cube(x))

enter a positive integer : 5
sum of cubes of numbers within the given limit is  100

# **Question 5**

In [7]:
for i in range(1,11):
  if i%2==0 and i%5==0:
    print("FizzBuzz")
  elif i%2==0:
    print("Fizz")
  elif i%5==0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

# **Question 6**

In [4]:

flag='y'
lst=[]
while(flag!='N'):
  a=int(input("enter a number : "))
  lst.append(a)
  f=input("Do you want to continue (enter Y for yes/ N for No) : ")
  flag=f.upper()
f=statistics.mode(lst)
print("The most frequent item in the given list is ",f)

enter a number : 5
Do you want to continue (enter Y for yes/ N for No) : y
enter a number : 4
Do you want to continue (enter Y for yes/ N for No) : y
enter a number : 5
Do you want to continue (enter Y for yes/ N for No) : y
enter a number : 3
Do you want to continue (enter Y for yes/ N for No) : n
The most frequent item in the given list is  5

# **Question 7**

In [8]:
def sum_sqr(a):
  c=0
  for i in a:
    val=i**2
    c+=val
  return(c)
flag='y'
lst=[]
while(flag!='N'):
  a=int(input("enter a number : "))
  lst.append(a)
  f=input("Do you want to continue (enter Y for yes/ N for No) : ")
  flag=f.upper()
s=sum_sqr(lst)
print("Sum of squares of the given list is ",s)

enter a number : 5
Do you want to continue (enter Y for yes/ N for No) : y
enter a number : 2
Do you want to continue (enter Y for yes/ N for No) : y
enter a number : 4
Do you want to continue (enter Y for yes/ N for No) : n
Sum of squares of the given list is  45

# **Question 8**

In [10]:
for i in range(1,16):
  if i%2==0:
    print(i," - even")
  else:
    print(i," - odd")

1  - odd
2  - even
3  - odd
4  - even
5  - odd
6  - even
7  - odd
8  - even
9  - odd
10  - even
11  - odd
12  - even
13  - odd
14  - even
15  - odd

# **Question 9**

In [12]:
t=input("What format you want to convert ? \n to convert form degree celcius to faranheat enter C \n or from faranheat to degree celciun enter F : ")
tp=t.upper()
if tp=='C':
  c=float(input("Enter the temperature in degree celcius : "))
  far=((c/5)*9)+32
  print("the temperature in faranheat is : ",far)
else:
  f=float(input("Enter the temperature in faranheat : "))
  c=((f-32)/9)*5
  print("the temperature in degree celcius is : ",c)

What format you want to convert ?
 to convert form degree celcius to faranheat enter C
 or from faranheat to degree celciun enter F : c
Enter the temperature in degree celcius : 32
the temperature in faranheat is :  89.6

# **Question 10**

In [15]:
def factorial(n):
  i=n
  f=i
  while i>=2:
    f=f*(i-1)
    i-=1
  return(f)
num=int(input("Enter a number : "))
fac=factorial(num)
print("Factorial of given number is ",fac)

Enter a number : 3
Factorial of given number is  6